
body {
  background-color: #013366;
  min-width: 100%;
  max-width: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.song-list-entry{
  width: 200px;
  margin:0 auto;
  background-color:lightblue;
  border: 4px solid black;
}
.library-list-entry{
  width: 200px;
  margin-left:50%;
  background-color:yellow;
  border: 4px solid black;
}
.librarylist {
  display:table-cell;
  width:200px;
}
.songlist {
  display:table-cell;
  width:200px;
}
.libraryrow {
  display:table-row;
}
.library {
  display:table;
  width: 400;
  height:380;
  margin:0 auto;
  background-color:white;
  border-radius:8px;
  border: 4px solid black;
}
.loading {
  margin:0 auto;
  text-align: center;
  border-radius:8px;
  max-width:90%;
}

.intro{
  font-family: 'Audiowide', cursive;
  margin: 50px auto;
  text-align:center;
  font-size:5.0em;
  color:#fff;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0 0 5px #ffff00,
      0 0 7px #ffff00;
}

@keyframes blur {
      text-shadow:0 0 10px #ffa500,
      0 0 10px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 25px #ffa500,
      0 0 50px #fe0000,
      0 0 50px #fe0000,
      0 0 50px #fe0000,
      0 0 150px #fe0000,
      0 10px 100px #fe0000,
      0 10px 100px #fe0000,
      0 10px 100px #fe0000,
      0 10px 100px #fe0000,
      0 -10px 100px #fe0000,
      0 -10px 100px #fe0000;
}

/*#appWindow {
  overflow: scroll;
  text-align: center;
}*/

/*#keyboardWindow {
  max-width: 1800px;
}*/

.keyboard {
  /*margin:20px 20px auto;*/
  /*border: 2px solid black;*/
  text-align: center;
  border-radius:8px;
  max-width:100%;
  /*min-width: 100%;*/

}

.key {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 10px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
  min-width: 25px;
  max-width: 40px;
  max-height: 140px;
  text-align: center;
  box-shadow: 10px 5px 10px 0 black;
  background-color: white;
}

.keyLabel {
  position:relative;
  bottom:10px;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.filename {
  position:relative;
  bottom:25px;
  font-size: 16px;
  text-align: center;
}

.green {
  background-color: #ADFF2F;
}

.red {
  background-color: red;
}

.pressed {
  box-shadow: 5px 5px 20px white;
  /*right: 10px;
  bottom: 10px;*/
}

.header {
  /*font-family: 'Audiowide', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 5em;
  color: #A6CA26;
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #5f2c82 , #49a09d);
  background: linear-gradient(to left, #5f2c82 , #49a09d);
  padding: 10px 30px;
  border-radius: 10px;
  font-family: 'Audiowide', cursive;
  /*margin: 50px auto;*/
  margin: 0 auto;
  text-align:center;
  max-width:80%;
  max-height:80;
  font-size:6.5em;
  color:#fff;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0 0 5px #ffff00,
      0 0 7px #ffff00;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-family: Futura, Helvetica, Garamond, Arial;;
  font-size: 18px;
  /*color: #A6CA26;*/
}

.creators {
  color: white;
  text-align: center;
  display: block;
  margin: 10;
  max-heigh:30;
  max-width:100%;
}

.name {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: Futura, Helvetica, Garamond, Arial;
  font-weight: bolder;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: underline;
}

.person {
  float: left;
  margin:  auto;
  width: calc(100% / 8);
  height:50%;
}

.img {
  border-radius: 10px;
  border: 5px solid black;
  width: 120px;
  height: 120px;
  align-items: center;
}

#bindingWindow {
  text-align: center;
  width: 90%;
  max-height:60%;
  margin: 0 auto;
}

#binding {
  margin: 0 auto;
  /*border: 2px solid black;*/
  overflow: scroll;

  text-align: center;
  border-radius:8px;
  max-width:90%;
}
.rebindNode {
  display: inline-block;

  float: left;
  border-radius: 20px;
  width: 10%;
  height: 66px;
  margin: 10px;
  padding: 10px 10px;
  font-size: 18px;
  font-family: sans-serif;
}

.rebindSong {
  display: inline-block;
  float: left;
  cursor: pointer;
  font-size: 18px;
  margin-right: 15px;
  margin-left: 15px;
}
.rebindIcon {
  display: inline-block;
  width: 20px;
  padding-top: 10px;
  float: right;
  padding-right: 30px;
}
#appWindow {
  text-align: center;

}

.song-rebind-entry {
  box-shadow: 5px 5px 10px 0 black;

}

canvas {
  border: 4px solid black;
}

.levels {
  padding: 20px 20px 20px 20px;
}

#navBar{
  max-width: 80%;
  max-height: 80px;
}

#navBar ul {
  /*max-width:80%;*/
  list-style-type: none;
  margin: 0 auto;
  /*padding: 0;*/
  overflow: hidden;
  background-color: #333;
  padding: 10px 30px;
  border-radius: 10px;
}

#navBar li {
  float: right;
  /*max-height: 80px;*/
}

#navBar li Login {
    /*display: block;*/
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    /*position: absolute;*/
}

#navBar li Login:hover {
  background-color: #111;
}

#loginForm {
  position: absolute;
}

#loginComponent {
  position: absolute;
}

ul {
  list-style-type: none;
}
